#root {
  margin: 0 auto;
  text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 100vh;
    min-width: max-content;
    min-height: max-content;
    transition: font-size 1s ease-in-out;
}
.app{
    /* css for calculator body */
    padding: 2rem;
    display: flex;
    gap: 5px;
    min-width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

.output{
    padding: 1rem;
    width:100%;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #eee;
    border:0;
    box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px #f2f3f5;
}
.output input[type="text"]{
   outline: none;
   border:0;
   background: #eee;
   width: 100%;
   font-size: 1rem;
   text-align: right;
}
.buttons{
    
    /* beautiful calculator buttons css */
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
    padding: 1rem;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #f2f3f5;
    

}
button{

    border-radius: 8px;
    outline: none;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #f2f3f5;
    width: 100%;
    height: 100%;
    text-align: center;
    background:#fff;

}
.active,button:hover {
    background: #babecc;

  }
.equal{
    grid-column: 3/5;
    grid-row: 4/4;
}
.plus{
    grid-column: 5/5;
    grid-row: 3/5;

}
.clear{
    grid-column: 4/4;
    grid-row: 1/1;
}
.backspace{
    grid-column: 5/5;
    grid-row: 1/1;
}
