#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app{
    /* css for calculator body */
    margin: 1em;
    padding: 1em;
    align-items: center;
    justify-items: center;

}

.output{
    margin: 1em;
    padding: 1em;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #eee;
    border:0;
    box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px #f2f3f5;
}
button{

    border-radius: 8px;
    outline: none;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #f2f3f5;
    width: 100%;
    height: 100%;
    text-align: center;

}
.active,button:hover {
    background: #babecc;

  }
.buttons{
    
    /* beautiful calculator buttons css */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
    margin: 1em;
    padding: 1em;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #f2f3f5;
    

}
.equal{
    grid-column: 3/5;
    grid-row: 4/4;
}
.plus{
    grid-column: 5/5;
    grid-row: 3/5;

}
.clear{
    grid-column: 4/4;
    grid-row: 1/1;
}
.backspace{
    grid-column: 5/5;
    grid-row: 1/1;
}
