:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
/* body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 100vw;
  height: 100vh;
  min-width: max-content;
    min-height: max-content;
  background:#f2f4f3;
  transition: font-size 1s ease-in-out;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }